.navbar {
    background-color: #4CADE4;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

.navbar-title {
    color: white !important;
    border-right: 1px solid #D9D9D9;
}

.navbar-selected {
    color: white !important;
    font-weight: bold;
}