html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'Ubuntu', sans-serif;
}

.wrapper{
	min-height:100%;
   position:relative;
}

.body{
	background:#fff;	
	padding-bottom:200px !important;   /* Height of the footer */
}

.padding{
	padding:0 0.5em;
}

.nomargin{
margin:0;
}

.topheader{
	background:#e7e7e7;	
	margin-bottom:20px;
	padding:5px 0;
}

.header{
	text-align:center;
	background:#fff;
	padding:20px 0;
}
	.header h1{
		margin:0;
	}

.logo a{
	color:#000;
}
	.logo a:hover{
		text-decoration:none;
		color:#000;
	}
	
.thumbnail{
	position:relative;
	padding:0;
}

.thumbnail .btn {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
border-radius: 0;
}

.caption h3 {
margin: 0 0 30px;
}

.map{
	width:100%;
	height:200px;
	position:relative;
	margin-top:2em;
}
.map .btn{
	position:absolute;
	top:20px;
	right:20px;
	z-index:99;
}
#map{
	width:100%;
	height:100%;
}
.footer{
	height:170px;   /*Height of the footer */
	width: 100%;
	margin-top: 1em;
	position:absolute;
    bottom:0;
}
	.footer .container{
		border-top: 1px solid #ccc;
		padding: 15px 0;
	}
	.footer a{
		color:#000;
	}

	.footer small{ color:#000; }

	.footer p{ margin:0; }

/*
.wrapper{
	background:#f3f3f3;
}*/

.navbar-default{
	margin-top:1.5em;
	background-color: #d9534f;
	border:none;
	margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover{
color: #555;
background-color: #e7e7e7;
}

.navbar-brand{
	padding:14px 15px;
}

.searchbar{
	padding:2em 0;
}

.category{
	margin:1em 0;
}

.border {
border: 1px solid #e0dfdf;
height: 1px;
padding-bottom: 2px;
border-width: 0 0 1px 0;
}

.borderstrong {
border-width: 0 0 4px 0 !important;
}

.quantity{
	margin-bottom:2em;
}

.add{

}

.product_photo{
	margin:5px 0;
}

.tab-content{
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding:2em;
}

.chatbox {
width: 300px;
position: fixed;
bottom: 0;
right: 2%;
margin: 0;
border-radius: 4px 4px 0px 0px;
z-index:999;
}

.chatbox .form{
	padding:0 1em;
}

.chatbox .panel-heading{
	cursor:pointer;
}

.chatbox.closed .panel-body{
	height:0;
	padding:0;
}

.label{
display:inline-block;
}

.label-lg{
padding: 2em 2em;
font-size:100%;
}

.label-circle {
border-radius: 50%;
}
.label-block{
display: inline-block;
}

.carousel{
	margin-bottom:20px;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right{
position: absolute;
top: 50%;
z-index: 5;
display: inline-block;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left {
left: 50%;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
	vertical-align: middle;
}

.credit-card-input.no-js p.no-support-warning{color:#ff0000}

.credit-card-input.no-js label+input,.credit-card-input.no-js label+select{display:block}

@media screen and (max-width: 600px) {
	table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:40%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}

.cursor-block {cursor: not-allowed !important;}

.cursor-pointer {cursor: pointer;}