<div class="body padding">
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th></th>
                <th style="width:8%">Quantity</th>
                <th></th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                                             class="img-responsive"/></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{item.name}}</h4>
                            <p>{{item.fullDescription}}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">{{item.price}}</td>
                <td>
                    <span class="input-group-addon cursor-pointer" ng-click="removeQuanity()">-</span>
                </td>
                <td data-th="Quantity">
                    <input type="text" class="form-control text-center" ng-model="quanity">
                </td>
                <td>
                    <span class="input-group-addon cursor-pointer" ng-click="addQuanity()">+</span>
                </td>

                <td data-th="Subtotal" class="text-center">
                    {{item.price * quanity }}
                </td>
                <td class="actions" data-th="">
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
                <td><a href="" class="btn btn-warning" ng-click="backToShopping()"><i class="fa fa-angle-left"></i>
                    Continue Shopping</a>
                </td>
                <td></td>
                <td></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                <td><a href="checkout.html" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div><!--end container-->
</div><!--end body-->