<div class="body padding" ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="col-md-2 hidden-xs">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="">All Categories</a></li>
                        <li class="list-group-item" ng-repeat="category in categories"><a href="">{{category.name | capitalize}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <div ng-repeat="item in items" ng-if="$index % 4 == 0" class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/500x300" alt="...">
                                    <div class="caption text-center">
                                        <h3>{{items[$index].name | capitalize}}</h3>
                                    </div>
                                    <a href="" ng-click="showItem(items[$index ].id)" class="btn btn-warning"
                                       role="button">Show details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3" ng-show="items[$index + 1]">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/500x300" alt="...">
                                    <div class="caption text-center">
                                        <h3>{{items[$index + 1].name| capitalize}}</h3>
                                    </div>
                                    <a href="" ng-click="showItem(items[$index + 1].id)" class="btn btn-warning"
                                       role="button">Show details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3" ng-show="items[$index + 2]">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/500x300" alt="...">
                                    <div class="caption text-center">
                                        <h3>{{items[$index + 2].name| capitalize}}</h3>
                                    </div>
                                    <a href="" ng-click="showItem(items[$index + 2].id)" class="btn btn-warning"
                                       role="button">Show details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3" ng-show="items[$index + 3]">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/500x300" alt="...">
                                    <div class="caption text-center">
                                        <h3>{{items[$index + 3].name| capitalize}}</h3>
                                    </div>
                                    <a href="" ng-click="showItem(items[$index + 3].id)" class="btn btn-warning"
                                       role="button">Show details<i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{items}}
                </div>
            </div>
        </div>
    </div>
</div>