<div class="body padding" ng-init="init()">
    <div class="container">
        <div class="row" ng-repeat="order in orders">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel clearfix"
                     ng-class="{'panel-success' : order.state === 'CONFIRMED', 'panel-primary' : order.state === 'PLACED', 'panel-danger' : order.state === 'REJECTED' }">
                    <div class="panel-heading" style="height: 42px">
                        <div class="pull-left">
                            State: <strong>{{order.state | capitalize}}</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row" ng-repeat="item in order.items">
                            <div class="text-center">
                                <div class="text-center">
                                    <h4><p class="bg-info"><i class="fa fa-tag"></i><strong>{{item.name |
                                        capitalize}}</strong> ${{item.price}} Quanity: <strong>{{item.quanity}}</strong>
                                        Sumary: <strong>${{item.price * item.quanity}}</strong></p></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            <i class="fa fa-money"></i> Total $ {{order.summary}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>