<div class="body padding" ng-init="init()">
    <div class="container">
        <div class="row" ng-repeat="order in orders">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel clearfix cursor-pointer" ng-click="expanded = !expanded"
                     ng-class="{'panel-success' : order.state === 'CONFIRMED', 'panel-primary' : order.state === 'PLACED', 'panel-danger' : order.state === 'REJECTED' }">
                    <div class="panel-heading" style="height: 42px">
                        <div class="pull-left">
                            <i class="fa fa-arrow-down" aria-hidden="true" ng-show="!expanded"></i>
                            <i class="fa fa-arrow-up" aria-hidden="true" ng-show="expanded"></i>
                            State: <strong>{{order.state | capitalize}} Date: </strong>{{order.date}}
                        </div>
                    </div>
                    <div class="panel-body" ng-show="expanded">
                        <div class="row" ng-repeat="item in order.items">
                            <div class="text-center">
                                <div class="text-center">
                                    <h4><p><i class="fa fa-tag"></i><strong>{{item.name |
                                        capitalize}}</strong> ${{item.price}} Quanity: <strong>{{item.quanity}}</strong>
                                        Sumary: <strong>${{item.price * item.quanity}}</strong></p></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix " ng-show="expanded">
                        ACCOUNT NUMBER: 00 0000 0000 0000 0000 0000 0000
                        <div class="pull-right">
                            <i class="fa fa-money"></i> <strong>Total $ </strong>{{order.summary}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3" ng-show="orders.length === 0">
        <div class="alert alert-info text-center">
            You have no orders.</br>
            Maybe you will change it and buy something?</br>
            Click button bellow to start exploring Xtra Shop!
        </div>
        <div class="text-center">
            <button class="btn btn-success" ng-click="goShopping()">
                Go Shopping!
            </button>
        </div>
    </div>
</div>