<div class="container custom-margin">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div id=panel class="panel panel-primary">
                <div class="table table-hover">
                    <div ng-repeat="item in items" class="table-row-cell">
                        <div>
                            <div class="container">
                                <div class="row">
                                    <strong>{{item.name}}</strong>
                                </div>
                                <div class="row">
                                    {{item.price}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
